.bet-slip-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(240,243,248);
    margin: 2vh;
    border: 1px solid gray;
    width: 25vw;
    right: 0;
    height: 84.6vh;
    border: 1px solid gray;
    box-shadow: 5px 2px 5px grey;
    top: 12vh;
    position: sticky;
}

.slip-title {
    display: flex;
    background-color: rgb(255,255,255);
    border: 1px solid gray;
    border-right: 0;
    border-left: 0;

}

.name-price-bet {
    display: flex;
    justify-content: space-between;
}

.bet-slip-price {
    margin-right: 1vw;
}

.action {
    color: rgb(20,147,255);
    margin-top: 0;
    margin-bottom: 0;
}

.moneyline {
    color: rgb(128,142,149);
    font-weight: bold;
    font-size: 0.7rem;
}
.teams-betting-on {
    font-size: 0.7rem;
}
.whole-bet {
    margin-top: 2vh;
    border: 1px solid gray;
    background-color: rgb(255,255,255);
    padding: 1rem;
}


.current-bets-div{
    display: flex;
    align-items: center;
}
.remove-all {
    margin-top: 2vh;
    background-color: rgb(255,255,255);
    padding: 1.5rem;
    text-align: center;
    border: 1px solid gray;
}
.remove-btn {
    background: none;
	color: red;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.place-bet-div {
    background-color: rgb(255,255,255);
    bottom: 0;
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;
    margin-top: 39vh;
    border: 1px solid gray;
    border-top: 2px solid rgb(20,147,255);

}
.place-bet-btn {
    background: none;
	color: white;
    font-weight: bold;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    background-color: rgb(23,169,77);
    padding: 0.8rem;
    border-radius: 5px;
    margin: 1vh;
}

.bet-slip-empty-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7vh;
    height: 30vh;
    border: 1px solid gray;
    border-right: 0;
    border-left: 0;
    background-image: url(../images/betslip.jpeg);
}

.bet-slip-empty-div p {
    font-weight: bold;
}

.wager-form {
    display: flex;
    height: 5vh;
    padding: 2vh;
    align-items: center;
    flex-direction: column;
}
.wager-form input {
    width: 80%;
    margin-right: 1vh;
    margin-left: 1vh;

}

.submit-sports-bet {
    background: none;
	color: white;
    font-weight: bold;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    background-color: rgb(23,169,77);
    padding: 0.8rem;
    border-radius: 5px; 
    position: absolute;
    bottom: 0px;
    margin-bottom: 1rem;
}