.home-div {
    display: flex;
    background-color: rgb(240,243,247);
}
.home-card-div {
    width: 56vw;
    margin-left: 14.8vw;
}
.casino-logo-img {
    width: 10vw;
    transform: rotate(-90deg);
    height: 6vh;
    border-radius: 5px;
}
.table-header {
    width: 3.5rem;
}

.home-away{
    width: 11rem;
}

.each-game {
    border: 2px solid black;
    padding: 1vw;
    margin: 2vh;
    overflow-x: scroll;
}
.table-head {
    height: 11vw;
}
.odds-table {
    /* table-layout: fixed;
    width: 54rem; */

}
.home-at-away {
    display: flex;
}

.sports-title {
    background-color: rgb(245,248,252);
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
}

.ads-div {
    display: flex;
    overflow-x: scroll;
    margin: 2vh;
    border-right: 10px solid hsla(0,0%,100%,.5);;
}

.images-front {
    margin: 1vw;
    width: 32vw;
    height: 20vh;
    border: 1px solid black;
    border-radius: 5px;
}

.bet-num {
    /* background-color: rgb(233,236,239);
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-align: center; */

    background-color: rgb(233,236,239);
    border-radius: 5px;
    height: 40px;
    vertical-align: middle;
    cursor: pointer;
    font-weight: bold;

    text-align: center;
    width: 50px;
    align-items: center;
    justify-content: center;
}

.bet-num:hover {
    border: 1px solid black;
}

.bet-num::selection {
    border: 1px solid black;
}
.best-bet {
    background-color: rgb(244,193,85);
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.home-away-team{
    /* width: 1vw; */
    display: block;
    width: max-content;
}
.numbers-row {
    width: 6rem;
}
.table-header {
    writing-mode: vertical-rl;
}