.nav-container {
    display: flex;
    justify-content: space-between;
    background-color: rgb(31,55,91);
    align-items: center;
    position: sticky;
    top: 0;
    height: 6vh;
}

.nav-container div {
    display: flex;
    color: rgb(255,255,255);
    font-weight: bold;
    align-items: center
    
}


.nav-container div p {
    cursor: pointer;
}

.home-btn {
    margin-right: 2vw;
    margin-top: 0;
    margin-bottom: 0;
}
.log-btn {
    margin-right: 2vw;
    background-color: rgb(20,137,239);

}
.home-btn:hover {
    text-decoration: underline;
}
.my-bets {
    margin-right: 2vh;
    margin-top: 0;
    margin-bottom: 0;
}
.my-bets:hover {
    text-decoration: underline;
}
.logo {
    margin-right: 6vw;
    margin-left: 3.5vw;
    margin-top: 0;
    margin-bottom: 0;
}

.log-join-div p{
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    line-height: 5vh;
    width: 9vw;
    line-height: 1;
    padding: 0.5vh 0;
}

.join-btn {
    background-color: rgb(25,169,78);
    margin-right: 2vw;
}

.log-out-btn {
    background-color: rgb(25,169,78);
    margin-right: 2vw;
    margin-top: 0;
    margin-bottom: 0;
}


.user-image {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    cursor: pointer;
}

.balance-div {
    display: flex;
    flex-direction: column;
    height: 7vh;
    justify-content: center
}

.balance-div p {
    margin: 0;
}

.balance-word {
    font-weight: normal;
    font-size: 1.5vw;
    margin-top: -30vw;
}

.profile-div {
    position: absolute;
    border: 3px solid red;
    background-color: rgb(255,255,255);
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    width: 35vh;
    flex-direction: column;
    top: 6vh;
}

.profile-div h1 {
    color: black;
}

.profile-div p{
    color: black;
}
.add-withdraw-div {
    display: flex;
}
.add-withdraw-div p{
        border-radius: 5px;
        height: 5vh;
        text-align: center;
        vertical-align: middle;
        line-height: 5vh;
        width:10vw;
}

.add-money-btn{
    background-color: rgb(25,169,78);

}

.withdraw-btn {

    background-color: rgb(20,137,239);
}

.profile-div .log-out-in-profile {
    color: red;
}

.green-nav-container {
    display: flex;
    background-color: rgb(20,147,255);
    justify-content: flex-start;

}

.green-nav-container p {
    color: white;
    font-weight: bold;
    font-size: 1rem;
}
.green-logo {
    margin-right: 6vw;
    margin-left: 3.9vw;

}
.blue-casino-logo {
    margin-right: 6vw;
    margin-left: 2vw;
    background-color: rgb(30,54,91);
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 1.8vh;
    padding-left: 1vh;
    padding-right: 1vh;
}

.blackjack-nav-btn {
    margin-right: 2vw;
}

.whole-nav {
    position: sticky;
    top: 0;
}

.green-dolla {
    color: green;
}

.green-nav-with-words {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(20,147,255);
    height: 4vh;
}

.if-you {
    font-size: 0.7rem;
    color: white ;
    margin-right: 1vw;
}

.balance-word {
    font-size: 0.8rem;
}